@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.bg {
  background-color: hsla(234, 15%, 43%, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .card {
    animation: show 0.8s ease forwards;
    width: 724px;
    // height: 360px;
    background: $primary-linear;
    border-radius: 25px;
    display: flex;
    gap: 37px;
    padding-block: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-weight: 700;
      font-size: 62px;
      line-height: 75px;
    }
    .scoreGame {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      width: 481px;
      height: 94px;

      background: #31425c;
      border-radius: 12px;
    }
    .btns {
      display: flex;
      gap: 24px;
    }
  }

  @include responsive(800px) {
    padding-inline: 20px;
    .card {
      max-width: 440px;
      width: 100%;
      gap: 40px;
      padding-inline: 20px;
      h1 {
        font-weight: 700;
        font-size: 36.1325px;
        line-height: 44px;
      }
      .scoreGame {
        max-width: 280.32px;
        width: 100%;
        padding: 12px;
        height: 54.78px;
        span {
          font-weight: 600;
          font-size: 18.649px;
          line-height: 23px;
        }
      }
      .btns {
        button {
          padding: 8px 22px;
          font-size: 18px;
        }
        flex-wrap: wrap-reverse;
        justify-content: center;
      }
    }
  }
}

@keyframes show {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
