@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.gameBoard {
  margin: auto;
  margin-top: 80px;
  height: 609px;
  background-color: transparent;
  text-align: center;

  h1 {
    margin-bottom: 42px;
  }

  .inputLetter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 49px;
    position: relative;
    width: max-content;
    margin-inline: auto;

    input {
      border: none;
      width: 78px;
      height: 78px;
      &:focus-visible {
        border: 2px solid red !important;
      }
    }
  }

  .wrongLetters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    margin-block: 34px;

    transition: all 1s ease;
    input {
      margin-inline: 0;
      border: none;
      width: 78px;
      height: 84px;
      background: radial-gradient(81.03% 81.03% at 50% 12.07%, rgba(255, 11, 11, 0.76) 0%, rgba(232, 9, 9, 0.76) 100%);
      box-shadow: 0px 0px 20px 2px rgba(240, 16, 16, 0.6);
      border-radius: 5px;
      color: white;
      font-size: 46px;
      line-height: 56px;
      animation: slide 0.9s cubic-bezier(0.755, 0.05, 0.855, 0.25);

      &:disabled {
        color: #ffffff;
      }
    }
  }

  .attempt {
    margin: 0 auto;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    width: 294px;
    height: 56px;
    background: linear-gradient(345.56deg, #1d232f 37.11%, #4d5565 133.34%);
    border-radius: 8px;
    margin-top: 45px;
  }

  input {
    width: 63px;
    height: 65px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    background: #ffffff;
    box-shadow: 0px 0px 19px rgba(255, 255, 255, 0.25);
    border-radius: 8px;

    &:disabled {
      appearance: none;
      color: #000;
    }
  }

  @include responsive(1080px) {
    padding-inline: 10px;
    height: auto;
    h1 {
      font-size: 28px;
    }

    .inputLetter {
      input {
        width: 65px;
        font-size: 36px;
        height: 65px;
      }
      button {
        padding: 8px 12px;
        font-size: 26px;
      }
    }
    .wrongLetters {
      input {
        width: 65px;
        height: 65px;
        font-size: 36px;
      }
    }
    .attempt {
      font-size: 26px;
      width: 233px;
    }
  }

  @include responsive(630px) {
    margin-top: 40px;
    max-width: 690px;
    h1 {
      font-size: 18px;
      margin-bottom: 23px;
    }
    .inputLetter {
      input {
        width: 45px;
        font-size: 26px;
        height: 45px;
      }
      button {
        padding: 4px 12px;
        font-size: 20px;
      }
    }

    .wrongLetters {
      flex-wrap: wrap;
      input {
        width: 45px;
        font-size: 26px;
        height: 45px;
      }
    }
    .attempt {
      font-size: 14px;
      gap: 10px;
      width: 140px;
      height: 35px;
      margin-top: 20px;
    }
  }

  @include responsive(430px) {
    .inputLetter {
      gap: 30px;
      button {
        padding: 2px 8px;
        font-size: 18px;
      }
    }
  }
}

@keyframes show {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

// @keyframes slide {
//   0% {
//     transform: translateX(200px);
//   }

//   100% {
//     transform: translateX(0px);
//   }
// }
